.Models{
    margin-top: 0px;
    padding-bottom: 5px;
    margin-top: 80px;
}

.NoModels {
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    width: 80%;
    text-align: center;
    margin-top: 80px;
}

.ActionItems {
    float: right;
}